
/* 繪製注意事項樣式 */
#notes {
  background-color: white;  /* 白色背景 */
  color: #8D8D8D;  /* 灰色字體 */
  border: 1px solid #8D8D8D;  /* 灰色邊框 */
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
}

/* 其他標籤樣式 */
.sub-tab {
  background-color: #ddd;  /* 灰色底 */
  color: black;  /* 黑色字 */
  border: none;  /* 無邊框 */
  padding: 0.5em 1em;
}

.sub-tab.active {
  background: #bbb;  /* 活動中的標籤顯示深灰色 */
}

.subtab-content {
  display: none;
  padding: 1em;
  background: #fff;
}

.subtab-content.active {
  display: block;
}

/* 清空選項按鈕樣式 */
.clear-button {
  background: none;
  color: #8D8D8D;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1rem;
  margin-left: 10px;
}

.clear-button:hover {
  color: #444;
}
